p {
    color: blue;
    font-size: 18px;
}

body {
    background-color: rgb(169, 160, 170);
}

main {
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.header-example {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5em;
    
}

.list-example {
    list-style-type: disc;
    color: white;

  
}

.text-example {
    font-family: 'Verdana'; 
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: underline;
  }

.div-example {
    border: 5px dotted rgb(145, 28, 28);
    padding: 5px;
    margin: 5px;
    background-color: rgb(228, 83, 182);
}
  